ion-content {
  --background: var(--ion-background-color);
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

p, li {
  line-height: 1.6;
  color: var(--ion-text-color);
}
